{% extends 'base.html' %} {% block title %} Lorem Ipsum {% endblock %} {% block
content %}
<div class="container px-3" style="margin-bottom: auto; margin-top: auto">
  <div class="row mt-2">
    <div class="col">
      <h1>What's your mood today?</h1>
    </div>
  </div>
  <form method="POST" action="{{ url_for('search') }}">
    <div class="row my-5">
      <div class="col-sm-5">
        <h4>Genre</h4>
      </div>
      <div class="col-sm-7">
        <select name="genre-select" class="custom-select">
          {% for genre in session["genres"] %} {% if session['genre'] == genre
          %}
          <option value="{{ genre }}" selected>{{ genre }}</option>
          {% else %}
          <option value="{{ genre }}">{{ genre }}</option>
          {% endif %} {% endfor %}
        </select>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-sm-5">
        <h4>Timeline</h4>
      </div>
      <div class="col-sm-7 d-flex align-items-center">
        <p class="text-center px-4" style="margin: auto">From</p>
        <input
          type="number"
          name="years"
          class="form-control"
          min="1990"
          max="2021"
          step="1"
          value="{{session['years'][0] if session['years'] else 1990}}"
        />
        <p class="text-center px-4" style="margin: auto">To</p>
        <input
          type="number"
          name="years"
          class="form-control"
          min="1990"
          max="2021"
          step="1"
          value="{{session['years'][1] if session['years'] else 2021}}"
        />
      </div>
    </div>
    <div class="row my-5">
      <div class="col-sm-5">
        <h4>Languages</h4>
      </div>
      <div class="col-sm-7">
        {% for lang in ['en', 'hi'] %}
        <div class="form-check">
          {% if lang in session["languages"] %}
          <input
            class="form-check-input"
            type="checkbox"
            value="{{lang}}"
            name="languages"
            id="{{lang}}"
            checked
          />
          {% else %}
          <input
            class="form-check-input"
            type="checkbox"
            value="{{lang}}"
            name="languages"
            id="{{lang}}"
          />
          {% endif %}
          <label class="form-check-label" for="{{lang}}">
            {{"English" if lang == "en" else "Hindi"}}
          </label>
        </div>
        {% endfor %}
      </div>
    </div>
    {% if error == 1 %}
    <div class="alert alert-danger" role="alert">
      Start year cannot be more than final year!
    </div>
    {% elif error == 2 %}
    <div class="alert alert-danger" role="alert">
      Please select atleast one language!
    </div>
    {% endif %}
    <div class="row my-5">
      <div class="col">
        <button
          type="submit"
          name="submit"
          value="submit"
          class="btn btn-primary"
        >
          Search
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
