<!-- Movie Options Page -->

{% extends 'base.html' %} {% block content %}
<div class="container-fluid my-2" style="margin-bottom: auto; margin-top: auto">
  <!-- Back button for user to reselect the filters -->
  <a href="{{ url_for('search') }}"
    ><button type="submit" class="btn btn-primary ml-5 my-2">Back</button></a
  >
</div>
<div class="container my-2" style="margin-bottom: auto; margin-top: auto">
  <div class="row mt-2">
    <div class="col">
      <h1>Choose what you have liked before</h1>
    </div>
  </div>
  <form method="POST" action="{{ url_for('get') }}">
    <div class="row card-group mt-2 d-flex justify-content-center">
      <!-- Loop for all the suggestions from the backend -->
      {% for option in options %}
      <div
        class="col-sm-6 col-md-4 col-lg-3 my-3 d-flex justify-content-center"
      >
        <input
          class="form-check-input hidden"
          type="checkbox"
          value="{{option.displayTitle}}"
          name="movies"
          id="{{option.titleId}}"
        />
        <label class="form-check-label movie" for="{{option.titleId}}">
          <div class="card">
            <!-- Add a default movie poster for movies which dont have one -->
            <img
              class="card-img-top"
              src="{% if option.poster|length > 1 %}
                  https://image.tmdb.org/t/p/original/{{option.poster}}
                {% else %}
                https://www.movienewz.com/img/films/poster-holder.jpg
                {% endif %}"
              alt="{{option.poster}}"
            />
            <div class="card-body">
              <h6 class="card-text font-weight-bold">
                {{option.displayTitle}}
              </h6>
            </div>
          </div>
        </label>
      </div>
      {% endfor %}
    </div>

    <div class="row my-5">
      <div class="col d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Find me a movie!</button>
      </div>
    </div>
  </form>
  <!-- Load the page again to get new recommendation -->
  <form method="POST" action="{{ url_for('search') }}">
    <button type="submit" class="btn btn-primary">Refresh</button>
  </form>
</div>
{% endblock %}
